body {
    background-image: url(img2.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    margin: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.cronometro {
    margin-top: 30%;
   position: absolute;
   top: 100px;
}


    footer {
        bottom: 0vh;
        margin-top: 900%;
        background-color: white;
        position: fixed;
    }


